a {  color: #333333; text-decoration: none}
a:active {FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: underline}
a:link {FONT-SIZE: 9pt; COLOR: #000000}
a:visited {FONT-SIZE: 9pt; COLOR: #000000}
a:hover {FONT-SIZE: 9pt; COLOR: #DD5308}
.t{LINE-HEIGHT: 1.4}
BODY{FONT-FAMILY: ו; FONT-SIZE: 9pt;
SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
SCROLLBAR-SHADOW-COLOR: buttonface;
SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
SCROLLBAR-TRACK-COLOR: #eeeeee;
SCROLLBAR-DARKSHADOW-COLOR: buttonshadow}
TD,DIV,form ,OPTION,P,TD,BR{FONT-FAMILY: ו; FONT-SIZE: 9pt} 
INPUT{BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc}
}
.fontBg {
	color: #CCFF00;
	background-color: #000000;
}