/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */
/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
A:link    {COLOR: #333; TEXT-DECORATION: none}
A:visited {COLOR: #333; TEXT-DECORATION: none}
A:hover   {COLOR: #3399CC; TEXT-DECORATION:underline;LEFT:1px;TOP:1px;POSITION:relative;}}
A:active  {COLOR: #333; TEXT-DECORATION: none}
/* 底部版权信息文字链接的css定义－调用代码为<a class='bottom' ***>***</a> */
A.bottom:link    {color: #000000;}
A.bottom:visited {color: #000000;TOP: 1px; TEXT-DECORATION: none}
A.bottom:hover   {color: #C3C3C3; TEXT-DECORATION: none;top:1px;position:relative;}
A.bottom:active  {color: #F3F3F3;}

A.Top:link		{COLOR: #000000}
A.Top:visited	{COLOR: #000000; TEXT-DECORATION: none;TOP:1px;}
A.Top:hover		{COLOR: #696969; TEXT-DECORATION: none;top:1px;position:relative;}
A.Top:active	{COLOR: #000000}

BODY {
FONT-FAMILY: "宋体,Verdana,Arial,Helvetica";
FONT-SIZE: 12px;
background: #313884;
/*background-image:url(../img/bg_all.gif);
background-position:center;
/*
MARGIN: 3px 5px; OVERFLOW-X: hidden; OVERFLOW-Y:
scroll;cursor:url(http://127.0.0.1:8083/meng/Skin/img/m.ani);
SCROLLBAR-FACE-COLOR: #313884;
SCROLLBAR-HIGHLIGHT-COLOR: #D7DAF1;
SCROLLBAR-SHADOW-COLOR: #009aaa;
SCROLLBAR-3DLIGHT-COLOR: #000000;
SCROLLBAR-ARROW-COLOR: #ffffff;
SCROLLBAR-TRACK-COLOR: #cccccc;
SCROLLBAR-DARKSHADOW-COLOR: #000000; */
}

TD {
FONT-SIZE: 12px;LINE-HEIGHT: 15px;
FONT-FAMILY: 宋体;
}
TD.TableBody1 {
BACKGROUND: #FFF;
}
.tableBorder1 {
WIDTH: 100%; 
BACKGROUND: #C5BDC5;
BORDER-TOP: 1px;BORDER-BOTTOM: 1px;BORDER-LEFT: 1px;BORDER-RIGHT: 1px;
}
.table {
BACKGROUND: #FFF;
BORDER-RIGHT: solid 1px #333;BORDER-LEFT: solid 1px #333;BORDER-COLLAPSE: collapse;
}
/* 栏目导航发光阴影效果的css定义 */
.Glow {
filter: glow(color=ffffff, strength=1) dropshadow(color=cccccc, offx=1, offy=1,); width: 100%; line-height: 20px
}
.GlowLeft {
filter: glow(color=ffffff, strength=1) dropshadow(color=cccccc, offx=1, offy=1,); width: 100%; line-height: 20px
}
/* 文本框的css定义:对应css中的“input”，这里为文本框的风格设置，可定义内容为背景、字体、颜色、边框等 */
Input {
HEIGHT: 18px;
/*background: #f3f3f3;*/
COLOR: #000;FONT-SIZE: 12px;
BORDER-WIDTH: 1px;BORDER-COLOR: #CCC;
PADDING: 1px;
}
Textarea {
COLOR: #000;FONT-SIZE: 12px;
BORDER-WIDTH: 1px;BORDER-COLOR: #CCC;
PADDING: 1px;
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */

/* ==================TopLogin中的css定义================== */
.TopLogin {
width: 766; border: 0px;
}
.TopLogin1 {
width: 100%; height: 25; border: 0px;
}
.TopLogin_Td {
width: 100%; height: 35;
background: url(../Img/reg_bg.gif);
}
.TopLogin_Td1 {
width: 7; height: 35;
background: url(../Img/reg1.gif);
}
.TopLogin_Td2 {
width: 410; height: 35;
background: url(../Img/reg_bg.gif);
}
.TopLogin_Td3 {
width: 50; height: 35;
background: url(../Img/reg_3.gif);
}
.TopLogin_Td4 {
height: 35;
background: url(../Img/reg_bg2.gif);
}
.TopLogin_Td5 {
width: 7; height: 35;
background: url(../Img/reg_4.gif);
}
/* ==================TopLogoA1中的css定义================== */
.TopLogoA1 {
width: 766;
background: #FFF;
border: 0px;
}
/* ==================TopLogoB1中的css定义================== */
.TopLogoB1 {
width: 766; height: 9;
/*background: #FFF;*/
background-image: url(body_bg.jpg);
border-left: 0px solid #FCB61C; border-right: 0px solid #FCB61C;
}
/* ==================TopMenu中的css定义================== */
.TopMenu {
width: 766;
background: #FFF;
border-left: 0px solid #FCB61C; border-right: 0px solid #FCB61C;
}
.TopMenu_Td1 {
width: 100%; height: 1;
background: #C6C3CE;
}
.TopMenu_Td2 {
width: 100%; height: 0;
background: #C6C3CE;
}
.TopMenu_Td3 {
width: 100%; height: 30;
background-image: url(second_menu2.jpg);
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */

/* ==================网页中部中的css定义开始================== */
.MiddleTitle {
width: 766;
/*background: #FFF;*/
background-image: url(body_bg.jpg);
border-left: 0px solid #FFF; border-right: 0px solid #FFF;
padding-left: 7px; padding-right: 7px; 
}
.Middle_Title {
width: 100%; border: 0;
}

.TdDotted {
background: url(../../img/naSzarym.gif) repeat-x;
height: 1;
}

/* ++++++++++++++++ 网页中部左栏的css定义开始 ++++++++++++++++ */

/* ------------左栏表格总背景颜色定义------------ */
.M_Left_Td {
width: 190; /*background: #F6FAFF;*/
}
.M_Left_Title {
width: 92%; border: 0px;
}
/* ------------ */
.ML_TitlePt {
width: 180; border: 0;
}
.ML_TdPtbg {
background: url(tt_right_bg.gif) no-repeat;
width: 186; height: 29; text-align: center; letter-spacing: 1px;
}

.ML_Titlebg {
width: 180;
background: #F6FAFF;
BORDER-TOP: 0px solid #B5B6B5;BORDER-BOTTOM: 1px solid #B5B6B5;BORDER-LEFT: 1px solid #B5B6B5;BORDER-RIGHT: 1px solid #B5B6B5;
}

.ML_Tdbg {
height: 23; line-height: 150%; letter-spacing: 1px;
}
.ML_TdImgLI {
background: url(arrow.gif) no-repeat; background-position: 5px 5px;
width: 25;
}

/* ++++++++++++++++ 网页中部左栏的css定义结束 ++++++++++++++++ */

/* ------------网页中部中间格离栏------------ */
.M_Jgx_TD {
/*	background: url(../../img/kropki_pion_naBialym.gif) repeat-y;*/
width: 0;
}

/* ++++++++++++++++ 网页中部右栏的css定义结束 ++++++++++++++++ */
.M_Center_Title {
width: 90%;	background: #FFF; border: 0px;
}
/* ------------首页中栏中间标题表格背景、文字颜色定义------------ */
.HomeMC_2TD{
width: 272;
}
.HomeMC_Pt2_Title {
background: #f5f5f5; width: 100%; height: 28;
BORDER-TOP: 1px solid #dcdcdc; BORDER-LEFT: 1px solid #dcdcdc; BORDER-RIGHT: 1px solid #dcdcdc;  BORDER-BOTTOM: 2px solid #BEE0EF;
PADDING: 1px;  letter-spacing: 1px;
}
/* ------------首页中栏上边标题表格背景、文字颜色定义------------ */
.MC_Pt_Title {
color: #000000;
background: url(pt_m.gif) repeat-x;
width: 550; height: 27;
BORDER-TOP: 0px; BORDER-LEFT: 1px solid #BDBABD; BORDER-RIGHT: 1px solid #BDBABD;  BORDER-BOTTOM: 0px;
}
.MC_Pt_TD1 {
/*background: url(pt_l.jpg) no-repeat;*/
width: 8; height: 27;
}
.MC_Pt_TD2 {
background: url(../Img/Star.gif) no-repeat; background-position: 1px 8px;
width: 30; height: 27;
}
.MC_Pt_TD3 {
height: 27;  padding-top: 4px; letter-spacing: 1px;
}
.MC_Pt_TD4 {
height: 27;  padding-top: 4px;
}
.MC_Pt_TD5 {
/*background: url(pt_r2.jpg) no-repeat;*/
width: 11; height: 27; text-align: right;
}
.HomeMC_Pt_TD5 {
background: url(../Img/more.gif) no-repeat center;
width: 27; height: 9; text-align: right;
}
/* ------------公司简介栏内容表格背景、文字颜色定义------------ */
.MC_CoNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 7px;
}
/* ------------新闻栏内容表格背景、文字颜色定义------------ */
.MC_NewsNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 5px;
}
/* ------------产品栏内容表格背景、文字颜色定义------------ */
.MC_PrNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 5px;
}
/* ------------产品Show栏表格背景、文字颜色定义------------ */
.MC_PrShow_Title1 {
background: #cccccc;
width: 550; height: 50; border: 0px;
}
.MC_PrShow_t1Tr1 {
background: #ddffd0; padding: 2px; letter-spacing: 3px;
height: 25; text-align: center;
}
.MC_PrShow_t1r1Td1 {
width: 33%;
}
.MC_PrShow_t1r1Td3 {
width: 33%;
}
.MC_PrShow_t1Tr2 {
background: #FFF; padding: 2px;
height: 28;
}
.MC_PrShow_t1r2Td1 {
width: 33%;
}
.MC_PrShow_Title2 {
background: #FFF; padding: 3px;
width: 550; height: 45; 
}
.MC_PrShow_t2Tr1 {
color: #191970; font-weight: bold; padding-top: 20; letter-spacing: 3px;
}
.MC_PrShow_Title3 {
background: #FFF; border: 1px solid #dcdcdc; line-height: 150%;
width: 550;
padding: 5px;
}
/* ------------下载栏内容表格背景、文字颜色定义------------ */
.MC_DoNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 5px;
}
/* ------------下载Show栏表格背景、文字颜色定义------------ */
.MC_DoShow_Title1 { 
background: #cccccc;
width: 550; height: 50; border: 0px;
}
.MC_DoShow_t1Tr1 {
background: #ddffd0; padding: 2px;
height: 25; font-weight: bold;
}
.MC_DoShow_t1Tr2 {
background: #FFF; padding: 2px;
width: 100%; height: 28;
}
.MC_DoShow_t1r2Td1 {
width: 55%;
}
.MC_DoShow_t1rnTd1 {
background: #FFF; padding: 2px;
width: 55%; height: 28;
}

.MC_DoShow_Title2 {
background: #FFF; padding: 3px;
width: 550;
}
.MC_DoShow_t2Tr1 {
color: #E33638; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; 
}
.MC_DoShow_t2r2Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding-left: 5px;
width: 100%; height: 25; 
}
.MC_DoShow_t2Tr3 {
color: #191970; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; 
}
.MC_DoShow_t2r4Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding: 5;
width: 100%; height: 25; 
}
.MC_DoShow_t2Tr5 {
color: #3B5E2A; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; 
}
.MC_DoShow_t2r6Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding: 5;
width: 100%; height: 25; 
}

.MC_DoShow_Title3 {
background: #FFF; border: 1px solid #dcdcdc; line-height: 150%;
width: 550;
padding: 5px;
}
/* ------------荣誉+营销+人才 内容表格背景、文字颜色定义------------ */
.MC_HSJNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 7px;
}
/* ------------服务栏内容表格背景、文字颜色定义------------ */
.MC_ServeNr_Title {
border: 1px solid #dcdcdc; line-height: 150%;
width: 550; height: 300;
padding: 5px;
}

/* ------------中栏底部的css定义------------ */
.MC_bottom_title {
background: #eeeeee;  border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;
width: 550; height: 26;
padding: 5px;
}
.MC_bottom_Td2 {
background: #999999;
width: 100%; height: 3;
}
/* ++++++++++++++++ 网页中部右栏的css定义结束 ++++++++++++++++ */

/* ------------中栏背景图案的定义------------ */
.main_tdbg {
BACKGROUND: #FFF;
LINE-HEIGHT: 150%;
BORDER: 1px solid #D6DBDE;
}


/* 按钮的css定义:对应css中的“button”，这里为按钮的风格设置，可定义内容为背景、字体、颜色、边框等 */
.button_temp {
HEIGHT: 20px;
FONT-SIZE: 9pt;
BACKGROUND: #FFF;
}

/* 下拉列表框的css定义:对应css中的“select”，这里为下拉列表框的风格设置，可定义内容为背景、字体、颜色、边框等 */
.select_Page {
HEIGHT: 22px;
BACKGROUND: #FFF;
COLOR: #333;FONT-SIZE: 9pt;
BORDER-TOP: solid 1px #666;BORDER-BOTTOM: solid 1px #666;BORDER-LEFT: solid 1px #666;BORDER-RIGHT: solid 1px #666;
BORDER-COLOR: #666;
}

/* ------------分页栏表格背景、文字颜色定义------------ */
.Fu_Page_title {
WIDTH: 100%;HEIGHT: 25;
BACKGROUND: #EEE;
COLOR: #000;TEXT-ALIGN: center;
MARGIN: 0;BORDER: 3;PADDING: 0;

}
.Fu_Page_td {
HEIGHT: 22;
COLOR: #000;FONT-WEIGHT: bold;
PADDING-LEFT:2;
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */

/* ==================FootLogoC1中的css定义================== */
.FootLogoC1 {
width: 766; height: 8;
/*background: #FFF;*/
background-image: url(body_bg.jpg);
border-left: 0px solid #FCB61C; border-right: 0px solid #FCB61C;
}

/* ==================FootAddress中的css定义================== */
.FootAddress {
width: 766;
background: #FFF;
border-left: 0px solid #FCB61C; border-right: 0px solid #FCB61C;
}
.FootAddress_Td1 {
width: 100%; height: 37;
background-image: url(but_bg2.jpg);
}
.FootAddress_Td2 {
width: 100%; height: 1;
background: #313884;
}
.FootAddress_Td3 {
width: 100%; height: 1;
background: #313884;
}
.FootAddressB {
width: 100%;
}

/* ==================FootMenu中的css定义================== */
.FootMenu {
width: 766;
border: 0px;
background:#EEEEEE;
}
.FootMenu_Td {
height: 25; color: #000000; line-height: 150%;
}

/* ==================FootCopyright中的css定义开始================== */
.FootCopyright {
width: 766;
border: 0px;
background: #FFFFFF;
}
.bottom_Td {
height: 25; color: #000000; line-height: 150%;
}
.bottom_TdHR {
height: 10;
BORDER-TOP: 1px dotted #FFFFFF;
}

/* ==================其它中的css定义================== */