BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow
}
table {  font-size: 9pt; line-height: 20px}
a:active {
	color: #0000CC;
	text-decoration: none;

}
a:hover {
	color: #FF9900;
	text-decoration: none;
}
a:link {
	color: #0000CC;
	text-decoration: none;

}
a:visited {
	color: #0000CC;
	text-decoration: none;

}

.Input {
	background-color: #CCCCCC;
	border-top: 1px solid #999999;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #999999;


}

.BarTitle {
	font-size: 14px;
	background-color: #f6f6f6;

}

.SDKTab1 {
	border: 1px solid #6699CC;
}
.BarTitleBg {
	background-color: #336699;
	font-size: 14px;
	color: #FFFFFF;
}
.ContentTabBg {
	background-color: #E8E8E8;


}
.BarText {
	font-size: 14px;
}
.ScriptText {
	font-size: 14px;
	line-height: 20px;
}
.MenuItem {
	color: #FFFFFF;
}

.button01-over {
	font-size: 12px;
	width: 60px;
	height: 20px;
	background-image: url(../Images/Skin/But01_over.gif);
	border: none;
	padding-top: 3px;
}
.button01-out {
	font-size: 12px;
	width: 60px;
	height: 20px;
	background-image: url(../Images/Skin/But01_out.gif);
	border: none;
	padding-top: 3px;
}
.button02-over {
	font-size: 12px;
	width: 80px;
	height: 20px;
	background-image: url(../Images/Skin/But02_over.gif);
	border: none;
	padding-top: 3px;
}
.button02-out {
	font-size: 12px;
	width: 80px;
	height: 20px;
	background-image: url(../Images/Skin/But02_out.gif);
	border: none;
	padding-top: 3px;
}.SysInfo {  font-size: 14px; color: #0000FF; background-color: #FFFFCC}
