img {
	vertical-align: top;
	border: 0;
}
#hotpic {
	width: 249px;
	height: 154px;
	overflow: hidden;
}
#NewsPic {
	position: relative;
	width: 249px;
	height: 154px;
	overflow: hidden;
}
#NewsPic a {
	overflow: visible;
	border: 0;
	text-decoration: none;
}
#NewsPic .Picture {
	position: absolute;
	left: 0;
	top: 0;
}
#NewsPic .Nav {
	position: absolute;
	height: 13px;
	line-height: 13px;
	bottom: 0;
	right: 0;
}
#NewsPic .Nav span {
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
	float: right;
	display: block;
	width: 24px;
	text-align: center;
	background: #000;
	border-left: solid 1px #FFF;
	cursor: pointer;
}
#NewsPic .Nav span.Normal {
	color: #FFF;
	background: #000;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
#NewsPic .Nav span.Cur {
	background: #db3652;
	color: #FFF;
}
#NewsPicTxt {
	position: relative;
	width: 250px;
	height: 22px;
	border: 1px;
	margin: 0;
	padding-top: 4px;
	text-align: center;
	font-family: Sans-Serif;
	font-weight: 700;
	color: #000;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
}
#NewsPicTxt a:link, #NewsPicTxt a:visited {
	font-family: "Microsoft Yahei";
	font-size: 16px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}
#NewsPicTxt a:hover {
	color: #b6243d;
}