/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */
/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
A:link {COLOR: #333; TEXT-DECORATION: none}
A:visited {COLOR: #333; TEXT-DECORATION: none}
A:hover   {COLOR: #FF0000; TEXT-DECORATION:underline;LEFT:1px;TOP:1px;POSITION:relative;}}
A:active {COLOR: #333; TEXT-DECORATION: none}
/* 底部版权信息文字链接的css定义－调用代码为<a class='bottom' ***>***</a> */
A.bottom:link    {COLOR: #333;}
A.bottom:visited {COLOR: #333;TOP: 1px; TEXT-DECORATION: none}
A.bottom:hover   {color: #696969;position: relative; top: 1px; TEXT-DECORATION: none}
A.bottom:active  {COLOR: #333;}

A.Top:link		{COLOR: #555}
A.Top:visited	{COLOR: #555;TOP: 1px; TEXT-DECORATION: none}
A.Top:hover		{COLOR: #000;position: relative; top: 1px; TEXT-DECORATION: none}
A.Top:active	{COLOR: #FFF}

BODY {
FONT-FAMILY: 'Lucida Grande','Lucida Sans Unicode','宋体','新宋体',arial,verdana,sans-serif;
FONT-SIZE: 12px;
background: #E6E7E6;
background-image:url(../img/bg_all2.gif);
background-position:center;

MARGIN: 5px 5px; OVERFLOW-X: hidden; OVERFLOW-Y: scroll;
/*SCROLLBAR-FACE-COLOR: #313884;
SCROLLBAR-HIGHLIGHT-COLOR: #D7DAF1;
SCROLLBAR-SHADOW-COLOR: #009aaa;
SCROLLBAR-3DLIGHT-COLOR: #000000;
SCROLLBAR-ARROW-COLOR: #ffffff;
SCROLLBAR-TRACK-COLOR: #cccccc;
SCROLLBAR-DARKSHADOW-COLOR: #000000; */
}
TD {
FONT-SIZE: 12px;LINE-HEIGHT: 15px;
FONT-FAMILY: 宋体;
}
TD.TableBody1 {
BACKGROUND: #FFF;
}
.tableBorder1 {
WIDTH: 100%; 
BACKGROUND: #C5BDC5;
BORDER-TOP: 1px;BORDER-BOTTOM: 1px;BORDER-LEFT: 1px;BORDER-RIGHT: 1px;
}
.table {
BACKGROUND: #FFF;
BORDER-RIGHT: solid 1px #333;BORDER-LEFT: solid 1px #333;BORDER-COLLAPSE: collapse;
}
/* 栏目导航发光阴影效果的css定义 */
.Glow {
filter: glow(color=ffffff, strength=1) dropshadow(color=cccccc, offx=1, offy=1,); width: 100%; line-height: 20px; COLOR: #b00404;
}
.GlowLeft {
filter: glow(color=ffffff, strength=1) dropshadow(color=cccccc, offx=1, offy=1,); width: 100%; line-height: 20px; COLOR: #b00404;
}
/* 文本框的css定义:对应css中的“input”，这里为文本框的风格设置，可定义内容为背景、字体、颜色、边框等 */
Input {
HEIGHT: 18px;
/*background: #f3f3f3;*/
COLOR: #000;FONT-SIZE: 12px;
BORDER-WIDTH: 1px;BORDER-COLOR: #CCC;
PADDING: 1px;
}
Textarea {
COLOR: #000;FONT-SIZE: 12px;
BORDER-WIDTH: 1px;BORDER-COLOR: #CCC;
PADDING: 1px;
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */

/* ==================TopLogin2中的css定义================== */
.TopLogin2 {
width: 770;
border: 0px;
}
.TopLogin2_Td1 {
width: 399; height: 12;
color: #9E9E9E; FONT-FAMILY:Arial;font-weight: bold;
}
.TopLogin2_Td2 {
width: 1;
}
.TopLogin2_Td3 {
width: 360;
}
.TopLogin2B {
color: #666666;
}
.TopLogin2B_Td1 {
width: 20;
color: #C2C2C2;
}
A.Menu1:link		{COLOR: #9E9E9E}
A.Menu1:visited	{COLOR: #9E9E9E;TOP: 1px; TEXT-DECORATION: none}
A.Menu1:hover		{COLOR: #333;position: relative; top: 1px; TEXT-DECORATION: none}
A.Menu1:active	{COLOR: #9E9E9E}
/* ==================TopLogoA2中的css定义================== */
.TopLogoA2 {
width: 770;
background: #F7F7F7;
border-top: 5px solid #FFF; border-left: 5px solid #FFF; border-right: 5px solid #FFF;
padding-top: 6px;
}
.TopLogoA2_Td2 {
background: url(banner-3.jpg) no-repeat ; background-position:  10px 10px;
}
/* ==================TopLogoB1中的css定义================== */
.TopLogoB1 {
width: 770; height: 9;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF;
}
/* ==================TopMenu中的css定义================== */
.TopMenu {
width: 770;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF; border-bottom: 5px solid #FFF;
}
.TopMenu_Td1 {
width: 100%; height: 8;
background: #F7F7F7;
}
.TopMenu_Td2 {
width: 100%; height: 0;
background: #F7F7F7;
border-top: 5px solid #FFF;
}
.TopMenu_Td3 {
width: 100%; height: 32;
/*
background: #BBBBBB;
border-top: 3px solid #DDDDDD; border-bottom: 4px solid #999999;
*/
background-image:url(bgmenu.gif)
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */

/* ==================网页中部中的css定义开始================== */

.MiddleTitle {
width: 770;
background: #FFF;
background: #F7F7F7; border-left: 5px solid #FFF; border-right: 5px solid #FFF;
padding-left: 4px; padding-right: 4px; 
}
.Middle_Title {
width: 100%; border: 0;
}

.TdDotted {
/*background: url(../../img/naSzarym.gif) repeat-x;*/
height: 1;
}

/* ++++++++++++++++ 网页中部左栏的css定义开始 ++++++++++++++++ */

/* ------------左栏表格总背景颜色定义------------ */
.M_Left_Td {
width: 192;  BACKGROUND: #F7F7F7;
}
.M_Left_Title {
width: 92%;  border: 0px;

}
/* ------------ */
.ML_TitlePt {
width: 186; border: 0;
}
.ML_TdPtbg {
background: url(left_title.gif) #F7F7F7 no-repeat center;
BORDER-TOP: #E5E5E2 3px solid; BORDER-LEFT: #E5E5E2 3px solid;BORDER-RIGHT: #E5E5E2 3px solid; BORDER-bottom: #E5E5E2 1px solid;
height: 38; text-align: center; letter-spacing: 1px;
}

.ML_Titlebg {
background: #F7F7F7; BORDER-TOP: #E5E5E2 0px solid; BORDER-LEFT: #E5E5E2 3px solid;BORDER-RIGHT: #E5E5E2 3px solid; BORDER-bottom: #E5E5E2 3px solid;
width: 186;
}

.ML_Tdbg {
height: 23; line-height: 150%; letter-spacing: 1px;
}
.ML_TdImgLI {
background: url(arrow.gif) no-repeat; background-position: 5px 5px;
width: 25;
}

/* ++++++++++++++++ 网页中部左栏的css定义结束 ++++++++++++++++ */

/* ------------网页中部中间格离栏------------ */
.M_Jgx_TD {
width: 1;
}

/* ++++++++++++++++ 网页中部右栏的css定义结束 ++++++++++++++++ */
.M_Center_Title {
width: 90%;	background: #F7F7F7; border: 0px;
}
/* ------------首页中栏中间标题表格背景、文字颜色定义------------ */
.HomeMC_2TD{
width: 272;
}
.HomeMC_Pt2_Title {
background: #F7F7F7; width: 100%; height: 28;
BORDER-TOP: 1px solid #dcdcdc; BORDER-LEFT: 1px solid #dcdcdc; BORDER-RIGHT: 1px solid #dcdcdc;  BORDER-BOTTOM: 2px solid #3AAFF7;
PADDING: 1px;  letter-spacing: 1px;
}
/* ------------首页中栏上边标题表格背景、文字颜色定义------------ */
.MC_Pt_Title {
color: #000000;
background: #F7F7F7; 
width: 550; height: 27;
BORDER-TOP: 1px solid #dcdcdc; BORDER-LEFT: 1px solid #dcdcdc; BORDER-RIGHT: 1px solid #dcdcdc;  BORDER-BOTTOM: 2px solid #3AAFF7;
}
.MC_Pt_TD1 {
width: 8; height: 27;
}
.MC_Pt_TD2 {
background: url(../Img/Star.gif) no-repeat; background-position: 1px 8px;
width: 30; height: 27;
}
.MC_Pt_TD3 {
height: 27;  padding-top: 4px; letter-spacing: 1px;
}
.MC_Pt_TD4 {
height: 27;  padding-top: 4px;
}
.MC_Pt_TD5 {
width: 11; height: 27; text-align: right;
}
.HomeMC_Pt_TD5 {
background: url(../Img/more.gif) no-repeat center;
width: 27; height: 9; text-align: right;
}
/* ------------公司简介栏内容表格背景、文字颜色定义------------ */
.MC_CoNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 7px;
}
/* ------------新闻栏内容表格背景、文字颜色定义------------ */
.MC_NewsNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 5px;
}
/* ------------产品栏内容表格背景、文字颜色定义------------ */
.MC_PrNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 5px;
}
/* ------------产品Show栏表格背景、文字颜色定义------------ */
.MC_PrShow_Title1 {
background: #cccccc;
width: 550; height: 50; border: 0px;
}
.MC_PrShow_t1Tr1 {
background: #ddffd0; padding: 2px; letter-spacing: 3px;
height: 25; text-align: center;
}
.MC_PrShow_t1r1Td1 {
width: 33%;
}
.MC_PrShow_t1r1Td3 {
width: 33%;
}
.MC_PrShow_t1Tr2 {
background: #FFF; padding: 2px;
height: 28;
}
.MC_PrShow_t1r2Td1 {
width: 33%;
}
.MC_PrShow_Title2 {
background: #F7F7F7; padding: 3px;
width: 550; height: 45; 
}
.MC_PrShow_t2Tr1 {
color: #191970; font-weight: bold; padding-top: 20; letter-spacing: 3px;
}
.MC_PrShow_Title3 {
background: #FFF; border: 1px solid #dcdcdc; line-height: 150%;
width: 550;
padding: 5px;
}
/* ------------下载栏内容表格背景、文字颜色定义------------ */
.MC_DoNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 5px;
}
/* ------------下载Show栏表格背景、文字颜色定义------------ */
.MC_DoShow_Title1 { 
background: #cccccc;
width: 550; height: 50; border: 0px;
}
.MC_DoShow_t1Tr1 {
background: #ddffd0; padding: 2px;
height: 25; font-weight: bold;
}
.MC_DoShow_t1Tr2 {
background: #FFF; padding: 2px;
width: 100%; height: 28;
}
.MC_DoShow_t1r2Td1 {
width: 55%;
}
.MC_DoShow_t1rnTd1 {
background: #FFF; padding: 2px;
width: 55%; height: 28;
}

.MC_DoShow_Title2 {
background: #FFF; padding: 3px;
width: 550;
}
.MC_DoShow_t2Tr1 {
color: #E33638; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; background: #F7F7F7;
}
.MC_DoShow_t2r2Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding-left: 5px;
width: 100%; height: 25; 
}
.MC_DoShow_t2Tr3 {
color: #191970; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; background: #F7F7F7;
}
.MC_DoShow_t2r4Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding: 5;
width: 100%; height: 25; 
}
.MC_DoShow_t2Tr5 {
color: #3B5E2A; font-weight: bold; padding-top: 15; letter-spacing: 3px;
width: 100%; height: 35; background: #F7F7F7;
}
.MC_DoShow_t2r6Td1 {
COLOR: #333; border: 1px solid #dcdcdc; line-height: 150%; padding: 5;
width: 100%; height: 25; 
}

.MC_DoShow_Title3 {
background: #FFF; border: 1px solid #dcdcdc; line-height: 150%;
width: 550;
padding: 5px;
}
/* ------------荣誉+营销+人才 内容表格背景、文字颜色定义------------ */
.MC_HSJNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 7px;
}
/* ------------服务栏内容表格背景、文字颜色定义------------ */
.MC_ServeNr_Title {
width: 550; height: 300;
background: #FFF;
border: 1px solid #dcdcdc; line-height: 150%;
padding: 5px;
}

/* ------------中栏底部的css定义------------ */
.MC_bottom_title {
width: 550; height: 26;
background: #eeeeee;  border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;
padding: 5px;
}
.MC_bottom_Td2 {
background: #999999;
width: 100%; height: 3;
}
/* ++++++++++++++++ 网页中部右栏的css定义结束 ++++++++++++++++ */

/* ------------中栏背景图案的定义------------ */
.main_tdbg {
BACKGROUND: #FFF;
LINE-HEIGHT: 150%;
BORDER: 1px solid #D6DBDE;
}


/* 按钮的css定义:对应css中的“button”，这里为按钮的风格设置，可定义内容为背景、字体、颜色、边框等 */
.button_temp {
HEIGHT: 20px;
FONT-SIZE: 9pt;
BACKGROUND: #FFF;
}

/* 下拉列表框的css定义:对应css中的“select”，这里为下拉列表框的风格设置，可定义内容为背景、字体、颜色、边框等 */
.select_Page {
HEIGHT: 22px;
BACKGROUND: #FFF;
COLOR: #333;FONT-SIZE: 9pt;
BORDER-TOP: solid 1px #666;BORDER-BOTTOM: solid 1px #666;BORDER-LEFT: solid 1px #666;BORDER-RIGHT: solid 1px #666;
BORDER-COLOR: #666;
}

/* ------------分页栏表格背景、文字颜色定义------------ */
.Fu_Page_title {
WIDTH: 100%;HEIGHT: 25;
BACKGROUND: #EEE;
COLOR: #000;TEXT-ALIGN: center;
MARGIN: 0;BORDER: 3;PADDING: 0;

}
.Fu_Page_td {
HEIGHT: 22;
COLOR: #000;FONT-WEIGHT: bold;
PADDING-LEFT:2;
}

/* ------------ Copyright 2004-2005 ebossi.com - All Rights Reserved. ------------ */
/* ==================FootLogoC1中的css定义================== */
.FootLogoC1 {
width: 770; height: 8;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF;
}

/* ==================FootMenu中的css定义================== */
.FootMenu {
width: 770;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF; border-top: 4px solid #FFF; border-bottom: 4px solid #FFF;
}
.FootMenu_Td {
height: 25; COLOR: #333; line-height: 150%;
background: #E6E7E6;
}

/* ==================FootAddress中的css定义================== */
.FootAddress {
width: 770;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF;
}
.FootAddress_Td1 {
width: 100%; height: 25;
}
.FootAddress_Td2 {
width: 100%; height: 0;
background: #F7F7F7;
}
.FootAddress_Td3 {
width: 100%; height: 0;
background: #F7F7F7;
}
.FootAddressB {
width: 100%;
color: #333;
}

/* ==================FootCopyright中的css定义开始================== */
.FootCopyright {
width: 770;
background: #F7F7F7;
border-left: 5px solid #FFF; border-right: 5px solid #FFF; border-bottom: 5px solid #FFF;
}
.bottom_Td {
height: 25;
color: #333; line-height: 150%;
}
.bottom_TdHR {
height: 2;
}

/* ==================其它中的css定义================== */
